body
{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#gt_mainSlider
{
    width: 100%;
    position: relative;
}

.gt_sliderImage
{
    width: 100%;
}
